/*structure*/

body {
	font-family: "proxima-nova",helvetica, arial, sans-serif;
	background:#ffffff;
	padding:0px;
	margin:0px;
	}
	
#photo-area{
	min-height:220px;
	}
	
#top-info{
	height:34px;
	margin-top:50px;
	background:url("../img/dark-trans-bg.png") repeat rgba(0, 0, 0, 0);
	padding:20px 40px;
	}
	
#input-area{
	float:left;
	}
	
#weather-info{
	float:right;
	color:#ffffff;
	margin-top:9px;
	}
	
#drink-area{
	padding:40px;
	padding-top:30px;
	clear:both;
	background:#eeeeee;
	}
	
#ingredients, #directions{
	margin-bottom:20px;
	}
	
#drink-info{
	border:1px solid #cccccc;
	background:#ffffff;
	padding:10px 20px 0px 20px;
	margin-bottom:30px;
	clear:both;
	position:relative;
	overflow:auto;
	}
	
#footer{
	width:100%
	text-align:left;
	clear:both;
	padding:20px 40px;
	border-top:1px solid #cccccc;
	margin-top:0px;
	}
	
/*styling*/

p, li{
	font-size:18px;
	line-height:1.65em;
	font-style:normal;
	}
	
ul{
	list-style: disc;
	margin-left: 20px;
	}
	
li{
	line-height:1.3em;
	margin-bottom:10px;
	}
	 
a{
	color:#91e050;
	text-decoration:none;
	}
	
a:hover{
	color:#6ac222;
	text-decoration:underline;
	}
	
a:focus{
	color:#52a211;
	text-decoration:underline;
	}
	
h1{
	font-family: "hooligan",helvetica, arial, sans-serif;
	text-transform:uppercase;
	font-size:180px;
	padding:30px;
	padding-bottom:5px;
	color:#ffffff;
	font-weight:400;
	text-align:center;
	}
	
h2{
	font-family: "proxima-nova",helvetica, arial, sans-serif;
	text-transform:uppercase;
	font-size:60px;
	margin-bottom:25px;
	font-weight:300;
	}
	
.tip{
	font-weight:700;
	}
	
h3{
	font-family: "hooligan",helvetica, arial, sans-serif;
	text-transform:uppercase;
	font-size:100px;
	margin-bottom:15px;
	color:#2a7cbc;
	font-weight:500;
	}
	
h4{
	font-family: helvetica, arial, sans-serif;
	font-size:20px;
	margin-bottom:10px;
	font-weight:700;
	}
	
img {
	display: block;
	height: auto;
	/*max-width: 100%;
	width:100%;*/
	margin:0px auto;
	}
	
.drink{
	float:right;
	margin-bottom:30px;
	}
	

input{
	padding:5px;
	padding-top:7px;
	font-size:14px;
	font-family: helvetica, arial, sans-serif;
	}
	
.btn{
	border: none;
	font: bold 14px helvetica, arial, sans-serif;
	padding: 10px 9px 8px 9px;
	cursor: pointer;
	background: #91e050; /* Old browsers */
	background: -moz-linear-gradient(top,	#91e050 1%, #61c419 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#91e050), color-stop(99%,#61c419)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,	#91e050 1%,#61c419 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,	#91e050 1%,#61c419 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,	#91e050 1%,#61c419 99%); /* IE10+ */
	background: linear-gradient(to bottom,	#91e050 1%,#61c419 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91e050', endColorstr='#61c419',GradientType=0 ); /* IE6-9 */
	color: #ffffff;
	}
	
.btn:hover{
	border: none;
	background: #6ecb24;
	color: #ffffff;
	}
	
#footer p{
	color:#656565;
	font-size:14px;
	}
	
#photo-area.winter{
	background:url("../img/winter.jpg") no-repeat scroll center top rgba(0, 0, 0, 0);
	}
	
/*Responsive Styling Starts Here*/
	
@media (max-width: 765px) {

#photo-area{
	min-height:150px;
	}
	
h1{
	font-size:100px;
	margin-bottom:25px;
	}
	
h2{
	font-size:45px;
	margin-bottom:20px;
	}
	
h3{
	font-size:100px;
	margin-bottom:25px;
	}
	
h4{
	font-size:20px;
	margin-bottom:15px;
	}
	
.drink{
	float:right;
	width:50%;
	height:50%;
	}
}
	
@media (max-width: 660px) {

#weather-info{
	font-size:14px;
	}
	
#top-info{
	margin-top:0px;
	}	
}	

@media (max-width: 620px) {

#weather-info{
	float:none;
	clear:both;
	margin-top:10px;
	text-align:center;
	}
	
#top-info{
	height:65px;
	}
	
#input-area{
	float:none;
	height:40px;
	margin:0px auto;
	text-align:center;
	}
	
h1{
	font-size:90px;
	margin-bottom:15px;
	margin-top:0px;
	padding-top:5px;
	}
	
h2{
	font-size:55px;
	margin-bottom:20px;
	text-align:center;
	}
	
h3{
	font-size:76px;
	margin-bottom:15px;
	text-align:center;
	}
	
h4{
	font-size:20px;
	margin-bottom:15px;
	}
	
#drink-id{
	margin-right:0px;
	}
	
#footer p{
	font-size:12px;
	text-align:center;
	}
}

@media (max-width: 350px) {

#photo-area{
	min-height:130px;
	}
	
#weather-info{
	font-size:12px;
	}
	
p, li{
	font-size:16px;
	line-height:1.5em;
	font-style:normal;
	}
	
h1{
	font-size:80px;
	margin-bottom:10px;
	}
	
h2{
	font-size:25px;
	margin-bottom:15px;
	}
	
h3{
	font-size:55px;
	margin-bottom:15px;
	}
	
h4{
	font-size:16px;
	margin-bottom:15px;
	}
	
input{
	font-size:12px;
	font-family: helvetica, arial, sans-serif;
	}
	
.btn{
	font: bold 12px helvetica, arial, sans-serif;
	padding: 8px 9px;
	cursor: pointer;
	}
	
#footer p{
	font-size:10px;
	}
}